body{
    background-color: black;
}

.Parent{
    height: 200px;
    width: 300px;
    background-color: green;
    

}

.Parent button{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr (100px);
}