body{
    background-color: black;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
}

.Parent{
    height: 200px;
    width: 350px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; /* horizontal center */
    align-items: center;   /* vertical center */
}

.Parent button{
    background-color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}

.Parent button:hover{
    background-color: black;
    box-shadow: 1px 1px 20px 5px white;
    transition: 1.2s;
    color: white;
}

.Parent:hover{
    transition: 1.4s;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 20px 5px white;
    border-radius: 10px;
}