body{
    background-color: rgb(0, 0, 0);
}

.hoy {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.hoy:hover{
    background-color: black;
    color:white;
    box-shadow: 1px 1px 40px 10px rgb(193, 193, 193);
    transition: 0.5s;
}

.huy {
    display: flex;            /* turn div into flex container */
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    height: 100vh;            /* full viewport height */
}