body{
    background-color: black;
}

.container{
    position: absolute;
    top: 20%;
    left: 40%;
    padding: 10px;
    height: 35%;
    width: 200px;
    background-color: green;
}

.product{
    height: 250px;
    width: 200px;
}