body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 20%;
    left: 40%;
    padding: 10px;
    height: 55%;
    width: 250px;
    background-color: green;
    justify-content: center;
    align-content: center;
}

.product{
    border-radius: 10px;
    height: 250px;
    width: 200px;
}

.discount{
    position: absolute;
    color: white;
    font: bold;
    right: 20px;
    top:65%;
    color: red;
}

.name{
    position: absolute;
    color: white;
    font: bold;
    top:72%;
}

.name2{
    position: absolute;
    color: white;
    font: bold;
    top:78%;
}

.buy{
    position: absolute;
    top: 90%;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
}

