body{
    background-color: black;
}

.Area{
    height: 100px;
    width: 500px;
    background-color: rgb(22, 171, 22);
    margin-top: 200px;
    margin-left: 500px;
    border-radius: 15px;
}

.hey{
    margin-top: 29px;
    align-items: center;
    margin-left: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.hey:hover{
    transition: 0.6s;
    color: rgb(245, 245, 245);
    background-color: black;
    cursor: pointer;
}