body{
    background-color: black;
}

   .Area{
    height: 100px;
    width: 500px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-left: 30%;
    margin-top: 15%;
    border-radius: 10px;
    box-shadow: 1px 1px 35px white  ;
}
    .hey{
        border-radius: 5px;
        border: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 30px;
        background-color: black;
        color: white;
    }

    .hey:hover{
        background-color: white;
        color: black;
        cursor: pointer;
        box-shadow: 1px 1px 20px black;
        transition: 0.6s;
    }